@font-face {
    font-family: 'Nico Moji';
    src: url('NicoMoji-Regular.woff2') format('woff2'),
        url('NicoMoji-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

