<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <footer class="footer">
        <div class="container">
            <div class="first-column">
                <h1>Omunga</h1>
                <p>É um projeto criado com o principal objetivo de incentivar a partilha de conteúdos por parte dos profissionais de TI em Angola.</p>
            </div>
            <div class="second-column">
                <div class="son1">
                    <h3>Home</h3>
                    <ul>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="son2">
                    <h3>Sobre</h3>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">O projeto Omunga</a></li>
                    </ul>
                </div>
                <div class="son3">
                    <h3>Contactos</h3>
                    <a href="mailto: faleconosco@omunga.com" target="_top">faleconosco@omunga.com</a>
                </div>
            </div>
        </div>

        <div class="search-box">
            <input type="text" placeholder="Pesquisar por um assunto">
            <button>Pesquisar</button>
        </div>
        <div class="grad"></div>
    </footer>
</body>
</html>