	@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

	@font-face {
		font-family: 'Nico Moji';
		src: url('../public/fonts/NicoMoji/NicoMoji-Regular.woff2') format('woff2'),
			url('../public/fonts/NicoMoji/NicoMoji-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body,html {
		width: 100%;
		height: 100vh;
		background: #f8f8fa;
		color: #000;
		font-size: 17px;
		font-family: 'Roboto', sans-serif;
		overflow-x: hidden;
    	font-weight: 400;
	}

	#__next{
		height: 100%;
	}

	section{	
		padding: 75px 0;
	}

	img{
		width: 100%;
		object-fit: cover;
	}

	h1, h3, h2{
		margin-bottom: 0.5em;
	}

	h1 {
		line-height: 60px;
		margin-bottom: 0.5em;
		font-weight: 700;
	}

	h3 {
		font-size: 90%;
	}

	p {
		opacity: 0.7;
		line-height: 25px;
	}

	a {
		text-decoration: none;
	}

	a, input, button {
		cursor: pointer;
	}

	.react-modal-content {
		background: white;
		position: relative;
		border-radius: 25px;
	}

	.react-modal-overlay {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 4;
		position: absolute;

		background: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(1px);

		display: flex;
		align-items: center;
		justify-content: center;
	}


